
<div class='head'>$lang.get('appid.create.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/appid' >$lang.get('a.appid')</a>
	<a href='/admin/appid/create' class='selected'>$lang.get('a.create')</a>
</div>

<form action='/admin/appid/create'  method='post' class='form' enctype="multipart/form-data">
	<div><label><h3>$lang.get('appid.name')(<r>*</r>):</h3><input type='text' name='name' value="$!name"/></label></div>
	<div><label><h3>$lang.get('appid.callback'):</h3><input type='text' name='callback' value="$!callback"/></label></div>

	<button type='submit'>$lang.get('btn.create')</button>
</form>

